#Form #title {
  width: 50%;
}

#Form label[for="publicAccess"] {
  margin: 0 0 0 20px;
}

#Form #publicAccess {
  margin: -2px 5px 0 0;
}

#Form #publicLink {
  width: 250px;
  margin-left: 5px;
}

#Form #copyPublicLink {
  padding: 7px;
  margin-left: 5px;
}

#Form #titleAndPublicAccess input,
#Form #titleAndPublicAccess label,
#Form #titleAndPublicAccess select {
  vertical-align: middle;
  display: inline-block;
}

#Form #submit {
  text-transform: none;
}

#Form #formState {
  color: #999;
}
