#Form #titleAndPublicAccess {
  margin-bottom: 0;
}

#Form #titleAndPublicAccess #title {
  width: 50%;
  margin: 0 20px 0 0;
}

#Form label[for="publicAccess"] {
  margin: 0 5px 0 0;
  white-space: nowrap;
}

#Form #publicAccess {
  margin: -2px 5px 0 0;
}

#Form #publicLink {
  width: 250px;
}

#Form #titleAndPublicAccess #title,
#Form label[for="publicAccess"],
#Form #publicLink,
#Form #copyPublicLink {
  margin-bottom: 10px;
}

#Form #copyPublicLink {
  padding: 7px;
  margin-left: 5px;
}

#Form #titleAndPublicAccess input,
#Form #titleAndPublicAccess label,
#Form #titleAndPublicAccess select {
  vertical-align: middle;
  display: inline-block;
}

#Form #formState {
  color: #999;
}

@media (max-width: 500px) {
  #Form #titleAndPublicAccess #title {
    display: block;
    width: 100%;
  }

  #Form label[for="publicAccess"] {
    width: auto;
  }
}
