#List {
  list-style: none;
  margin: 0;
  padding: 0;
}

#List li {
  margin-bottom: 10px;
  min-height: 32px;
}

#List li:hover {
  background: #eee;
  cursor: pointer;
}

#List li.opened {
  background: #ddd;
  cursor: default;
}

#List li .title {
  min-height: 16px;
}

#List li .text {
  white-space: pre-line;
}

#List li .aside {
  float: right;
  text-align: right;
  margin-bottom: 10px;
}

#List li .delete {
  margin-left: 10px;
}

#List li .dateOfCreate,
#List li .dateOfUpdate {
  margin-left: 10px;
  color: #999;
}