#List {
  list-style: none;
  margin: 0;
  padding: 0;
}

#List li {
  margin-bottom: 10px;
}

#List li:hover {
  background: #eee;
  cursor: pointer;
}

#List li.opened {
  background: #ddd;
  cursor: default;
}

#List li .delete {
  float: right;
  margin: 0 0 10px 10px;
}
