#List {
  list-style: none;
  margin: 0;
  padding: 0;
}

#List li {
  border: 1px solid transparent;
  margin-bottom: 10px;
  min-height: 32px;
  padding: 5px;
  max-height: 200px;
  overflow: hidden;
}

#List li:hover {
  border-color: #ddd;
  cursor: pointer;
}

#List li.opened {
  border-color: #bbb;
  cursor: default;
}

#List li .title {
  min-height: 16px;
  margin-bottom: 16px;
}

#List li .text {
  white-space: pre-line;
  color: #666;
}

#List li .aside {
  float: right;
  text-align: right;
  margin-bottom: 10px;
}

#List li .delete {
  margin-left: 10px;
}

#List li .dateOfCreate,
#List li .dateOfUpdate {
  margin-left: 10px;
  color: #999;
}

#List li .tags {
  margin-top: 10px;
}  
#List li .tag {
  padding: 2px 4px;
  color: #888;
  background: #eee;
  margin-left: 5px;
}