#App a span {
  color: inherit;
}

#App #openNew {
  display: inline-block;
  margin-bottom: 10px;
  border: #ccc 1px solid;
  border-radius: 4px;
  padding: 10px 8px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  vertical-align: middle;
}
#App #openNew:hover {
  background: #eee;
}

#App #wrap {
  display: flex;
  flex-direction: row;
}

#App #listCont,
#App #formCont {
  box-sizing: border-box;
}

#App #aside {
  flex: 1;
}

#App #formCont {
  flex: 2;
  margin-left: 1%;
}
