#Filters {
    margin-bottom: 10px;
}

#Filters #textFilter {
    width: 155px;
}

#Filters #tagsFilter {
    display: inline-block;
    width: 250px;
}

@media (max-width: 500px) {
    #Filters #tagsFilter {
        width: 173px;
    }
}