#Filters {
    margin-bottom: 10px;
} 

#Filters .fieldInline {
    margin-right: 10px;
}

#Filters #textFilter {
    width: 155px;
}

#Filters #tagsFilter {
    display: inline-block;
    width: 250px;
}