#App {
  text-align: left;
  margin: 0 auto;
  padding: 5px;
}

#App * {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

#App #openNew {
  margin-bottom: 10px;
}

#App #body {
  overflow: hidden;
}

#App #filtersCont,
#App #sortCont {
  display: inline-block;
}

#App #sortCont {
  margin-left: 10px;
}

#App #listCont,
#App #formCont {
  float: left;
  box-sizing: border-box;
}

#App #listCont {
  width: 33%;
}

#App #formCont {
  width: 66%;
  margin-left: 1%;
}
